.navbar--main {
    height: 73px;
    width: auto;
    display: flex;
    align-items: center;
    border-bottom: 2px solid white;
    background: rgba(255, 255, 255, 30%);
  
    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 80px;
      padding-right: 80px;
  
      .logo {
        font-size: 25px;
        font-weight: 500;
        color: var(--black-color);
      }
  
      #menu-btn {
        font-size: 25px;
        cursor: pointer;
        color: var(--black-color);
        display: none;

        @media screen and (max-width: 768px) {
            display: block;
        }
      }
  
      .navbar {
        display: flex;
        flex-direction: row;
        gap: 2rem;
  
        #close-navbar {
          position: absolute;
          top: 1.5rem;
          right: 2rem;
          font-size: 2rem;
          cursor: pointer;
          color: #444;
          display: none;
        }
  
        a {
          text-decoration: none;
          font-size: 20px;
          color: var(--black-color);
          font-weight: 500;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
      }

      @media screen and (max-width: 768px) {
        padding: 20px;
      }
    }
  
    &.active {
      .navbar {
        flex-direction: column;
        align-items: center;
  
        #close-navbar {
          display: block;
        }
  
        a {
          margin-bottom: 1rem;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
      }

      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        background: #ffffff;
        transition: 0.3s;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      
        a {
          text-decoration: none;
          color: rgb(0, 0, 0);
          font-size: 18px;
          font-weight: 600;
        }
      
        a:hover {
          color: #0eb582;
        }
    }
      
    .sidebar.active {
        left: 0;
    }
}

  