@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");

.app--subtest {
    font-family: 'Nunito', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;

    /* font-weight: 400; */

    .navbar--test {
        height: 73px;
        width: auto;
        display: flex;
        align-items: center;
        border-bottom: 2px solid white;
        background: rgba(255, 255, 255, 30%);
      
        .container--test {
          width: 100vw;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-left: 80px;
          padding-right: 80px;
      
          .logo {
            font-size: 25px;
            font-weight: 600;
            color: var(--black-color);
          }
        }
    }

    .box--subdes--main {
        width: 100vw;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 2rem 0;

        .box--subdes {
            opacity: 1;
            width: 540px;
            min-width: auto;
            height: auto;
            padding: 5px 25px;
            border-radius: 5px;
            text-align: left;
            box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
                0px 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: all 0.3s ease;
            text-align: center;
        
            h2 {
                padding: 10px;
                color: rgb(0, 0, 0);
                /* text-transform: uppercase; */
                font-weight: 700;
                font-size: 20px;
                // border-bottom: 2px solid rgb(126, 12, 12);
            
            }
    
            @media screen and (max-width: 560px) {
                width: 90%;
                
                h2 {
                    font-size: 14px;
                }
            }
        }
    }

    .quiz--div {
        width: 100vw;
        min-height: 60%;
        max-height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        .start_btn {
            position: relative;
            // bottom: 10px;
            box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
                0px 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: all 0.3s ease;
        
            button {
                font-size: 25px;
                font-weight: 500;
                color: #007bff;
                padding: 15px 30px;
                outline: none;
                border: none;
                border-radius: 5px;
                background: #fff;
                cursor: pointer;
            }
        }
    
        .info_box {
            box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
                0px 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: all 0.3s ease;
        
            .activeInfo {
                z-index: 5;
                opacity: 1;
                pointer-events: auto;
            }
        }
    
        .quiz_box {
            box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
                0px 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: all 0.3s ease;
        
            .activeQuiz {
                z-index: 5;
                opacity: 1;
                pointer-events: auto;
            }
        }
        
        .result_box {
            box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
                0px 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: all 0.3s ease;
        
            .activeResult {
                z-index: 5;
                opacity: 1;
                pointer-events: auto;
            }
        }
    
        .info_box {
            width: 540px;
            background: #fff;
            border-radius: 5px;

            .info_title {
                height: 80px;
                width: 100%;
                border-bottom: 1px solid lightgrey;
                display: flex;
                align-items: center;
                padding: 0 30px;
                font-size: 22px;
                font-weight: 600;
            }
    
            .info_list {
                padding: 15px 35px;
    
                .info {
                    margin: 5px 0;
                    font-size: 19px;
    
                    span {
                        font-weight: 600;
                        color: #007bff;
                    }
                }
            }
    
            .buttons {
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0 35px;
                border-top: 1px solid lightgrey;
                cursor: pointer;
    
                button {
                    width: auto;
                    padding: 0 1rem;
                    margin: 0 5px;
                    height: 45px;
                    outline: none;
                    border: 1px solid #007bff;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 500;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    background-color: #007bff;
    
                    .restart {
                        background: #00628f;
                        color: #007bff;
                        border-color: #007bff;
                    }
    
                    .restart:hover {
                        color: rgb(172, 172, 172);
                        background: #007bff;
                    }
    
                    .quit {
                        color: #007bff;
                        border-color: #007bff;
                    }
    
                    .quit:hover {
                        color: rgb(175, 175, 175);
                        background: #007bff;
                    }
                }
            }
        }
    
        .quiz_box {
            width: auto;
            background: #fff;
            border-radius: 5px;
            opacity: 1;
            cursor: pointer;

    
            .quiz_box--header {
                position: relative;
                z-index: 99;
                height: 80px;
                padding: 0 30px;
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 5px 5px 0 0;
                box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
    
                .title--quizBox {
                    font-size: 22px;
                    font-weight: 600;
                }
    
                .timer {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1rem;
                    // width: 145px;
                    width: auto;
                    height: 45px;
                    background: #cce5ff;
                    border: 1px solid #b8daff;
                    border-radius: 5px;
                    padding: 0 8px;
    
                    .time_text {
                        font-size: 18px;
                        font-weight: 400;
                        user-select: none;
                    }
    
                    .timer_sec {
                        font-size: 18px;
                        font-weight: 500;
                        background: #343a40;
                        height: 30px;
                        width: 55px;
                        color: #fff;
                        text-align: center;
                        line-height: 30px;
                        border-radius: 5px;
                        border: 1px solid #343a40;
                        user-select: none;
                    }
                }
            }

            #questionDiv {
                width: 80vw;
                background: #fff;
                display: flex;
                flex-direction: row;
                gap: 1rem;
                // padding: 25px 30px 20px 30px;

                .que_text {
                    width: 50%;
                    font-size: 25px;
                    font-weight: 600;
                }
    
                .option_list {
                    padding: 15px 0;
                    display: block;
                    width: 50%;
    
                    .option {
                        background: aliceblue;
                        border: 1px solid #84c5fe;
                        border-radius: 5px;
                        padding: 12px 15px;
                        margin-bottom: 15px;
                        font-size: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;
                        transition: all 0.3s ease;
    
                        .icon {
                            height: 26px;
                            width: 26px;
                            border: 2px solid transparent;
                            border-radius: 50%;
                            text-align: center;
                            font-size: 13px;
                            line-height: 24px;
                            pointer-events: none;
                        }
    
                        .disabled {
                            pointer-events: none;
                        }
                    }
    
                    .option:hover {
                        color: #004085;
                        background: #cce5ff;
                        border-color: #b8daff;
                    }
    
                    .option:last-child {
                        margin-bottom: 0px;
                    }
                }
                
                @media screen and (max-width: 768px) {
                    flex-direction: column;

                    .que_text {
                        width: 100%;
                    }

                    .option_list {
                        width: 100%;
                    }
                }
            }
    
            #quizBox-Footer {
                height: 60px;
                width: 100%;
                padding: 0 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #fff;
                box-shadow: 0px -3px 5px 1px rgba(0, 0, 0, 0.1);
                border-radius: 0 0 5px 5px;
    
                .total_que {
                    font-size: 1.2rem;
                    font-weight: 500;
                    padding: 5 5px;
    
                }
    
                .next_btn {
                    // display: none;
                    height: 40px;
                    padding: 0 13px;
                    font-size: 18px;
                    font-weight: 400;
                    border: none;
                    outline: none;
                    color: #fff;
                    background: #007bff;
                    border-radius: 5px;
                    border: 1px solid #007bff;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }
    
                .next_btn:hover {
                    background: #007bff;
                }
            }
        }
    
        .result_box {
            background: #fff;
            width: 450px;
            padding: 25px 30px;
            border-radius: 5px;
            display: flex;
            text-align: center;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            opacity: 1;
            // transform: translate(-50%, -50%) scale(0.9);
    
            .icon {
                font-size: 100px;
                color: #007bff;
                margin-bottom: 10px;
            }
    
            .complete_text {
                font-size: 20px;
                font-weight: 500;
            }
    
            .score_text {
                font-size: 20px;
                font-weight: 600;
                padding: 0 4px;
            }
    
            .buttons--res {
                margin: 20px 0;
                cursor: pointer;
                
                a {
                    text-decoration: none;
                    color: #ffffff;
                    font-weight: 400;
                }
    
                .restart--btn,
                .quit--btn {
                    height: 45px;
                    background-color: #007bff;
                    border: 1px solid #007bff;
    
                    margin: 0 10px;
                    padding: 0 20px;
                    border: none;
                    outline: none;
                    font-size: 18px;
                    font-weight: 500;
                    border-radius: 5px;
                    // transition: all 0.3s ease;
                }
    
                .restart--btn:hover,
                .quit--btn:hover {
                    transition: all 0.2s ease;
                    box-shadow: rgb(186, 186, 186) 0 5px 10px;
                }
            }
        }
    }

    .footer--test {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: rgba(255, 255, 255, 30%);
        border-top: 2px solid white;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        padding-right: 2rem;

        p {
            color: rgb(0, 0, 0);
            font-size: 1rem;
        }
    }
}