.subjects {
    .box-container--subject {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        gap: 1.5rem;

        .box {
            padding: 1.5rem 1rem;
            text-align: center;
            border: 0.1rem solid #0eb582;
            background: #f0fdfa;
            /* cursor: pointer; */

            img {
                height: 8rem;
                margin-bottom: .4rem;
                border-radius: 50%;
            }

            h4 {
                height: 30px;
                text-transform: capitalize;
                color: #444;
                font-weight: 500;
            }

            p {
                font-size: 1rem;
                line-height: 1.6;
                color: #777;
            }
          }
      }
}
