.main--container-hero {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .heading {
        font-weight: bold;
        color: #444;
    }

    .main--content-hero {
        width: auto;
        height: auto;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        .content--div-hero {
            padding: 1rem;
            font-size: 2rem;
            text-align: justify;
        }
    }

    .image--div-hero {
        width: 100vw;
        height: auto;

        .image--group {
            width: 700px;
            height: auto;
        }
    }
}