.main--container-hero {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .heading {
        font-weight: bold;
        color: #444;
    }

    .main--content-hero {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        .content--div-hero {
            width: 50%;
            padding: 1rem;
            font-size: 1.2rem;
            text-align: justify;

            @media screen and (max-width:900px) {
                width: 100%;
            }
        }

        .image--div-hero {
            width: 50%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
    
            .image--group {
                max-width: 100%;
                min-width: auto;
                height: auto;
            }

            @media screen and (max-width:900px) {
                width: 100%;
            }
        }

        @media screen and (max-width:900px) {
            flex-direction: column;
        }
    }

}