.login__register {
    background-color: #fff;
    height: auto;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .header__login {
        height: 75px;
        width: auto;
        display: flex;
        align-items: center;

        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        z-index: 1;

        .header__login:before {
            box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
            filter: blur(10px);
        }

        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 80px;
            padding-right: 80px;

            .logo {
                font-size: 22px;
                font-weight: 600;
                color: var(--black-color);
            }
        }
    }

    .main__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .main__illust {
            width: 50%;
            height: auto;

            display: flex;
            align-items: center;
            justify-content: center;
        
            img {
                width: 100%;
                height: auto;
            }
        }
    
        .content__div {
            width: 50%;
            font-size: 2rem;

            display: flex;
            align-items: center;
            justify-content: center;

            .login__div {
                width: 500px;
                height: 500px;
                background-color: rgb(255, 255, 255);
                border-radius: 20px;
                text-align: center;
                padding: 4rem;

                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

                display: flex;
                justify-content: center;
                flex-direction: column;

                .email__div {
                    width: auto;
                    height: auto;
                    text-align: left;
                    margin-top: 4rem;
                }
    
                .password__div {
                    width: auto;
                    height: auto;
                    text-align: left;
                    margin-top: 2rem;
                }
            }

            .register__div {
                width: 500px;
                height: 500px;
                background-color: rgb(255, 255, 255);
                border-radius: 20px;
                text-align: center;
                padding: 3rem 4rem;

                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

                .email__div {
                    width: auto;
                    height: auto;
                    text-align: left;
                    margin-top: 2rem;
                }
    
                .username__div {
                    width: auto;
                    height: auto;
                    text-align: left;
                    margin-top: 1rem;
                }
    
                .password__div {
                    width: auto;
                    height: auto;
                    text-align: left;
                    margin-top: 1rem;
                }
            }

            .hide__div {
                display: none;
            }

            .route {
                text-align: left;
                margin-top: .5rem;
                font-size: 1.5rem;
                font-weight: 600;

                button {
                    color: #000;
                    font-size: 1.5rem;
                    font-weight: 600;
                    background-color: transparent;
                }

                button:hover {
                    color: rgb(0, 208, 255);
                    text-decoration: underline;
                }
            }

            .route.register__route {
                text-align: right;
            }

            .label__input {
                font-size: 2rem;
                text-align: left;
            }

            .input__box {
                height: 5rem;
                width: 100%;
                text-indent: 1rem;
                margin-top: .5rem;

                font-size: 2rem;
                font-weight: 600;
                
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }

            .heading__div {
                height: 4.5rem;
                width: auto;

                font-size: 2.5rem;
                font-weight: 700;
                background-color: rgb(145, 255, 255);

                border-radius: 10px;

                display: flex;
                align-items: center;
                justify-content: center;
                
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }

            .submit__button {
                height: 5rem;
                width: 100%;
                margin-top: 3rem;
                
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

                display: flex;
                align-items: center;
                justify-content: center;

                .subMit {
                    font-size: 2rem;
                    font-weight: 600;
                    background: transparent;
                }
            }
        }
    }
}