.login__register {
    width: 100vw;
    min-height: 100vh;
    max-width: auto;

    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
    font-size: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .header__login { 
        position: relative;
        height: 75px;
        width: auto;
        top: -5px;
        display: flex;
        align-items: center;

        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        z-index: 1;

        .header__login:before {
            box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
            filter: blur(10px);
        }

        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 80px;
            padding-right: 80px;

            .logo {
                font-size: 22px;
                font-weight: 500;
                color: var(--black-color);
            }
        }
    }

    .main__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 0;

        .main__illust {
            width: 50%;
            height: auto;
            
            display: flex;
            align-items: center;
            justify-content: center;
        
            img {
                width: 80%;
                height: auto;
            }
        }
    
        .content__div {
            width: 50%;
            font-size: 1rem;

            display: flex;
            align-items: center;
            justify-content: center;

            .login__div {
                width: 450px;
                height: auto;
                background-color: rgb(255, 255, 255);
                border-radius: 20px;
                text-align: center;
                padding: 2rem;

                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

                display: flex;
                justify-content: center;
                flex-direction: column;

                .username__div {
                    width: auto;
                    height: auto;
                    text-align: left;
                    margin-top: 2rem;
                }
    
                .password__div {
                    width: auto;
                    height: auto;
                    text-align: left;
                    margin-top: 1rem;
                }
            }

            .register__div {
                width: 450px;
                height: auto;
                background-color: rgb(255, 255, 255);
                border-radius: 20px;
                text-align: center;
                padding: 2rem 2rem;

                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

                .email__div {
                    width: auto;
                    height: auto;
                    text-align: left;
                    margin-top: 1.2rem;
                }
    
                .username__div {
                    width: auto;
                    height: auto;
                    text-align: left;
                    margin-top: 1rem;
                }
    
                .password__div {
                    width: auto;
                    height: auto;
                    text-align: left;
                    margin-top: 1rem;
                }
            }

            .hide__div {
                display: none;
            }

            .route {
                text-align: left;
                margin-top: .2rem;
                font-size: 1rem;
                font-weight: 400;

                button {
                    color: #000;
                    font-size: 1rem;
                    font-weight: 500;
                    background-color: transparent;
                    cursor: pointer;
                }

                button:hover {
                    color: rgb(0, 208, 255);
                    text-decoration: underline;
                }
            }

            .route.register__route {
                text-align: right;
            }

            .label__input {
                font-size: 1.4rem;
                text-align: left;
            }

            .input__box {
                height: 3rem;
                width: 100%;
                text-indent: 1rem;
                margin-top: .1rem;

                font-size: 1.2rem;
                font-weight: 500;
                
                border-radius: 10px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            }

            .heading__div {
                height: 3rem;
                width: auto;

                font-size: 1.4rem;
                font-weight: 700;
                background-color: rgb(145, 255, 255);

                border-radius: 10px;

                display: flex;
                align-items: center;
                justify-content: center;
                
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }

            .submit__button {
                height: 3rem;
                width: 100%;
                margin-top: 2rem;
                
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                .subMit {
                    font-size: 1.4rem;
                    font-weight: 600;
                    background: transparent;
                    cursor: pointer;
                }
            }
        }

        @media screen and (max-width: 1100px) {
            .main__illust {
                img {
                    width: 100%;
                }
            }

            .content__div {
                padding-right: 4rem;
            }
        }

        @media screen and (max-width: 950px) {
            flex-direction: column;

            .main__illust {
                img {
                    width: 100%;
                }
            }

            .content__div {
                width: 70vw;
                padding: 0;
                padding-bottom: 4rem;

                .login__div {
                    width: 70vw;
                    height: auto;
                }
            }
        }

        @media screen and (max-width: 450px) {
            .content__div {
                width: 90vw;

                .login__div {
                    width: 90vw;
                }
            }
        }
    }
}