.main--div {
    width: 100vw;
    min-height: 100vh;
    max-height: auto;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;

    .detail--div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: .5rem;
    
        img {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    
        .heading--sub {
            font-size: 1.5rem;
            font-weight: 400;
        }

        .para--sub {
            font-size: 1.1rem;
            color: rgb(0, 0, 0);
            font-weight: 400;
            text-align: center;
        }

        .buttons--div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 1rem;

            .test_button {
                color: #000000;
                background: transparent;
                margin-top: 1rem;
                padding: .2rem 1.4rem;
                font-size: 1.2rem;
                border: 0.1rem solid #000000;
                cursor: pointer;
                text-transform: capitalize;
            }
    
            .test_button:hover{
                color: #fff;
                background: #000000;
            }
        }

    }

    .footer--subdetails {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: rgba(255, 255, 255, 30%);
        border-top: 2px solid white;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        padding-right: 2rem;

        p {
            color: rgb(0, 0, 0);
            font-size: .8rem;
        }

        @media screen and (max-width: 900px) {
            position: relative;
        }
    }
}