@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
@import '@radix-ui/themes/styles.css';

:root {
  /* --font-base: 'Nunito', sans-serif; */
  font-family: 'Changa', sans-serif;

  --primary-color: #C9D6FF;
  --secondary-color: #E2E2E2;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --green-color: #0eb582;
}

* {
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Changa', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

a {
  text-decoration: none;
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
}

/* scroll-bar designing starts */

html::-webkit-scrollbar {
  width: .7rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #0eb582;
}

/* scroll-bar designing ends */

section {
  padding: 2rem 10%;
}

.heading-link {
  text-align: center;
  background: url('../src/assets/heading-bg.jpg');
  background-size: cover;
  background-position: center;
}

.heading-link h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
}

.heading-link p {
  font-size: 1.2rem;
  line-height: 2;
  color: #777;
}

.heading-link p a {
  color: #0eb582;
}

.heading-link p a:hover {
  text-decoration: underline;
}

.heading {
  text-align: center;
  margin-bottom: 1.2rem;
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  color: #444;
}

/* button styling */

.btn {
  display: inline-block;
  margin-top: .7rem;
  padding: .4rem 1.7rem;
  font-size: 1.2rem;
  border: 0.1rem solid #007bff;
  background: #f0fdfa;
  color: #007bff;
  cursor: pointer;
  text-transform: capitalize;
}

.btn:hover {
  background: #007bff;
  color: #fff;
}
