.dashboard {
    .icons-container {
        margin-bottom: 3rem;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (minmax(18rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        gap: 1.6rem;

        .icons {
            text-align: center;
            padding: 1.5rem 3rem;
            border: 0.1rem solid #0eb582;
            background: #f0fdfa;

            i {
                height: 3rem;
                width: 3rem;
                line-height: 3rem;
                font-size: 1rem;
                border-radius: 50%;
                margin-bottom: .5rem;
                color: #fff;
                background: #0eb582;
            }

            h3 {
                font-size: 1.5rem;
                text-transform: capitalize;
                color: #444;
                padding: 0;
            }

            p {
                font-size: 1rem;
                line-height: 1.4;
                color: #777;
            }
        }
      }
}

.logo-container {
    text-align: center;

    img {
        height: 10rem;
        pointer-events: none;
    }
}

.logged-out {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logout-btn, 
.login-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .3rem 1.4rem;
    font-size: 1.2rem;
    border: 0.1rem solid #da2020;
    background: #f0fdfa;
    color: #da2020;
    cursor: pointer;
    text-transform: capitalize;
}

.logout-btn:hover, 
.login-btn:hover {
    background: #da2020;
    color: #fff;
}

.quizData-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 1rem;
    gap: 1rem;

    .quizData-card {
        border: 2px solid #0eb582;
        display: flex;
        align-items: flex-start;
        padding: 1rem;
        flex-direction: column;
    }

    .delete-btn {
        border: 2px solid #0eb582;
        padding: .2rem 1rem;
        margin-top: 1rem;
        background-color: #f0fdfa;
    }

    .delete-btn:hover {
        color: white;
        background-color: #0eb582;
    }
}

.footer--sub {
    position: relative;
    background-color: #dcfcf5;
    bottom: 0;
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-right: 2rem;

    p {
        color: rgb(0, 0, 0);
        font-size: .8rem;
    }
}