.footer {
    background: #f0fdfa;

    .box-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        /* gap: 7rem; */

        .box {
            h3 {
                font-size: 1.5rem;
                text-transform: capitalize;
                color: #444;
                padding: 1rem 0;

                i {
                    color: #0eb582;
                }
            }

            a {
                font-size: .5rem;
                font-weight: 400;
            }

            .share {
                align-items: center;
                margin-top: 1rem;

                a {
                    height: 2.8rem;
                    width: 2.8rem;
                    line-height: 2.8rem;
                    font-size: 1.4rem;
                    background-color: #0eb582;
                    color: #fff;
                    text-align: center;
                    align-items: center;
                    margin-left: 5px;
                }

                a:hover {
                    background-color: #444;
                }
            }

            .p-contact {
                font-size: 1.2rem;
            }

            .link {
                font-size: 1.2rem;
                line-height: 1.8;
                color: #777;
                padding: .2rem 0;
                display: block;
                /* margin-left: 30px; */

                span{
                    color: #777;
                }

                span:hover {
                    color: #0eb582;
                    text-decoration: underline;
                }
            }

            p {
                font-size: 1rem;
                line-height: 2;
                color: #777;
                padding: .5rem 0;
            }

            .email {
                width: 100%;
                padding: 1.2rem 1.4rem;
                font-size: 1.6rem;
                border: 0.1rem solid #0eb582;
                margin-bottom: 1rem;
            }

            .p-box {
                font-size: 1.2rem;
                padding-top: 0;
            }
        }
    }

    .credit {
        text-align: center;
        margin-top: 1.5rem;
        padding-top: 1.5rem;
        font-size: 1.2rem;
        text-transform: capitalize;
        color: #444;
        border-top: 0.1rem solid #0eb582;

        span {
            color: #0eb582;
        }

        span:hover {
            text-decoration: underline;
        }
    }
}